@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --main-background: #eef5f9;
  --primary-background: #00358e;
  --primary-color: #ffffff;
  --primary-light-background: #ffffff;
  --primary-light-color: #455a64;
  --nav-color: #fff;
  --nav-color-hover: #72c295;
  --links-color: #00358e;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow3: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow4: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow5: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow6: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --radius: 10px;
  --nav-height: 100px;
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */
.page__container > .trabajando {
  background-color: goldenrod;
  padding: 10px;
  font-size: 3em;
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page__container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: grid;
  /* gap: 1em; */
  grid-template-areas:
    "header"
    "hero"
    "about"
    "experience"
    "education"
    "skills"
    "projects"
    "contact"
    "footer";
}

/* Header */
.header {
  grid-area: header;
  background-color: var(--primary-background);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.logo__img {
  height: 30px;
}

.logo__link {
  font-size: 1em;
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  list-style: none;
  background-color: #2c3e50;
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  padding: 20px 0;
  height: calc(100% - 60px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
}

.nav__item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 70px;
  text-transform: uppercase;
  width: max-content;
}

.nav__link {
  padding: 8px 12px;
  color: white;
  line-height: 60px;
}

.nav__link:hover {
  background: none;
  color: #83c5f7;
}

.nav__toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
}

.nav__list-visible {
  left: 0;
}

/* Header End */

/* hero */
.hero {
  grid-area: hero;
  color: var(--primary-color);
  height: calc(100vh - var(--nav-height));
  background-image: url(/images/hero-3087x2058.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero__overlay {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  opacity: 0.8;
  position: absolute;
}

.hero-text {
  position: absolute;
  width: 80%;
  margin-top: 8em;
  text-align: center;
  z-index: 1;
}

.hero-text__title {
  font-size: 2.5em;
}

.hero-text__subtitle {
  font-weight: 300;
}

.hero-text__message {
  padding-top: 5em;
  font-weight: 500;
}

/* Header end */
/* About */
.about {
  grid-area: about;
  background-color: var(--primary-color);
}

.card {
  background-color: var(--primary-color);
  width: 90%;
  margin: 1em auto;
  border-radius: var(--radius);
  overflow: hidden;
  padding: 1.5em 1em;
  box-shadow: var(--shadow2);
}

.about__picture {
  text-align: center;
}

.about__picture--img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: var(--shadow2);
}

.about__picture--title {
  padding-top: 0.5em;
  font-size: 1.4em;
}

.about__picture--subtitle {
  font-size: 1em;
}

.about__text p {
  padding-bottom: 0.5em;
}

.about__text--studying {
  counter-reset: number;
}

.about__text--studying dt {
  position: relative;
  font-size: 1.3em;
  color: var(--primary-light-color);
  font-weight: bold;
  padding: 0px 0 5px 0;
}

.about__text--studying dt::before {
  content: counter(number);
  counter-increment: number;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background: var(--primary-light-color);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__text--studying dd {
  font-size: 1em;
  margin: 0 0 25px 0;
}

.about__text--studying dd:last-child {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

.about__text--studying dt,
.about__text--studying dd {
  padding-left: 40px;
  line-height: 20px;
}

.about__text--title {
  padding: 0.5em 0em;
}

/* About end */

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

.skills {
  grid-area: skills;
}

.projects {
  grid-area: projects;
}

.contact {
  grid-area: contact;
}

.footer {
  grid-area: footer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero {
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-family: sans-serif;
    padding-top: 80px;
  }
  /* nav */
  .header {
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    max-width: min-content;
  }

  .logo__link {
    font-weight: normal;
    font-size: 1em;
  }

  .nav__list {
    position: static;
    flex-direction: row;
    list-style: none;
    align-items: center;
    background: none;
    width: auto;
    padding: 0;
    transition: left 0.3s;
    height: 100%;
    overflow: hidden;
  }

  .nav__item {
    margin: 0 5px;
    font-size: 0.8em;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }

  .nav__link {
    padding: 8px 12px;
    border-radius: 3px;
  }

  .nav__link:hover {
    background-color: #aebcae;
    color: var(--primary-background);
    transition: 0.5s;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item {
    line-height: 80px;
  }

  /* nav end */

  .hero {
    font-size: 25px;
  }

  .hero-text {
    margin-top: 3em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Nav */
  .nav {
    max-width: 1200px;
  }

  .logo {
    max-width: max-content;
  }

  .logo__link {
    font-size: 1.3em;
  }

  .nav__link {
    font-size: 1.2em;
  }

  /* header */
  .hero {
    font-size: 30px;
  }

  .hero-text {
    margin-top: 1em;
  }
  /* header end */
  /* about */
  .card {
    display: flex;
    max-width: 1000px;
  }

  .about__picture {
    margin-right: 2em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero-text {
    margin-top: 3em;
  }
}
